@model ForumProject.ViewModels.PostModels.NewPostModel

<div id="formBackgroundContainer">
    <div class="sectionHeader">
        <div class="sectionHeading">
            Edit Post | @Model.ForumName
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl); background-size:100%"></div>
            <span id="headingBtn">
                <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-back" style="float:right">Back to Post</a>
            </span>
        </div>
    </div>


    @if (Context.User.Identity.IsAuthenticated)
    {
        <form asp-action="EditPost" method="post" id="addPostForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" value="@Model.Title" class="form-control" autocomplete="off" style="width: 400px" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">Content</label>
                <textarea asp-for="Content" class="form-control" style="width: 600px; height: 200px;"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" id="submitPostBtn" class="btn btn-submitPost">Submit Post</button>
            <input asp-for="Id" type="hidden" />
        </form>
    }
    else
    {
        <br />
        <div class="register">
            <span>
                You need to <a asp-area="Identity" asp-page="/Account/Register">Register</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a> to edit posts
            </span>
        </div>
    }
</div>